<div class="stats">
  <span class="me-2">
    <%= render 'likes/like', post: post %>
    <%= post.likes.count %>
  </span>
  <span>
  <%= link_to '💬', post_path(post), class: 'btn btn-sm btn-primary' %>
    <%= post.comments.count %>
  </span>
</div>



